{% extends '::base.html.twig' %}

{% block body -%}

    <h1>Create new book</h1>
    {{ form(form, {attr: {novalidate : 'novalidate'}}) }}

    <ul>
        <li><a href="{{ path('book') }}">Book Manager</a></li>
    </ul>

{% endblock %}